body {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.home {
    background-image: url('images/new.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

.login-content {   
    padding: 40px;
}

.signup-content {
    margin:40px;
    padding:45px 0 20px 0;
}
.signup-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    top: -21px;
    left: 1px;
    height: 336px;
    width: 369px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row {
    display: flex;
}

.search_button {
    float: right;
    margin-right: 10px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 37px 100px 546px;
    padding: 0 45px 45px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    top: -6px;
    left: -189px;
    height: 377px;
    width: 369px;
}

.field {
    width: 100%;
    outline: 0;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
    box-sizing: border-box;
}

.info-field {
    background-color:transparent;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
    opacity:0.5;
}

.btn {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    font-family: "Roboto",sans-serif;
    margin: 10px auto;
    padding: 15px;
    background: #4CAF50;
    box-shadow: 0px 1px 0px 0px #111;
    border-radius: 3px;
    outline: 0;
    color: #FFFFFF;
    font-size: 14PX;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
}

    .btn:hover {
        background: #FFBF00;
        color: #333;
    }

    .btn:active {
        background: #FACC2E;
        color: #333;
    }

.color {
    color: blueviolet;
    font-family: "Roboto",sans-serif;
}

.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size:cover;
}

.btn-new {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    font-family: "Roboto",sans-serif;
    margin: 10px auto;
    padding: 15px;
    background: #4CAF50;
    box-shadow: 0px 1px 0px 0px #111;
    border-radius: 3px;
    outline: 0;
    color: #FFFFFF;
    font-size: 14PX;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
}

.to-form {
    width:400px;
    height:50px;
    border-style: none;
    border-color: inherit;
    border-width: 0;
    outline: 0;
    margin: 0 0 0px 0;
    padding: 15px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
    box-sizing: border-box;
}

